<%- include('includes/header.ejs') %>
<body>
  <h1>Welcome to profile of @ <%= username %></h1>
  
  <p><button>Follow</button><button>Message</button></p>
   <hr>
   <% if()
  <img src="../images/cover 11.png" alt="cover-img">
</body>
</html>