/* Importing Google font - Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: #fff;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin-left: 33.5%;
}

.navbar .logo{
 margin-left: 52px;
}

.navbar .logo img{
  width: 89px;
  height: 27px
}

.navbar .menu-links li a {
  color: rgb(65, 63, 63);
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #1dbf73;
}

.navbar .menu-links .join-btn a {
  border: 1px solid rgb(30, 207, 30);
  padding: 8px 15px;
  border-radius: 4px;
  color: rgb(84, 236, 84);
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #1dbf73;
}

.hero-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-section img{
  width: 90%;
  height: 70%;
  padding-bottom: -80px;
  padding-left: 72px;
}

.hero-section .content {
  max-width: 1280px;
  margin: 2% auto 0% 26%;
  width: 50%;
  position: absolute;
}

.hero-section .content h1 {
  color: #fff;
  font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 3.3rem;
  max-width: 630px;
  line-height: 65px;
  margin-top: 40px;
}

.hero-section .content h1 span{
  color: #1dbf73;
}
.hero-section .search-form {
  height: 60px;
  display: flex;
  max-width: 630px;
  margin-top: 50px;
}

.hero-section .search-form input {
  height: 100%;
  width: 78%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
}

.hero-section .search-form button {
  height: 100%;
  width: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #1dbf73;
  color: #fff;
  border-radius: 0 4px 4px 0;
  transition: background 0.2s ease;
}

.hero-section .search-form button:hover {
  background: #19a463;
}

.hero-section .popular-tags {
  display: flex;
  color: #fff;
  gap: 0px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 40px;
  margin-left: -80px;
}

.hero-section .popular-tags .tags {
  display: flex;
  gap: 0px;
  align-items: center;
  list-style: none;
}
.hero-section .popular-tags .tags .Trust{
  width: 100px;
  height: 20px;
}
.hero-section .tags li a {
  text-decoration: none;
  color: #fff;
  /* border: 1px solid #fff; */
  border: none;
  /* padding: 4px 0px; */
  border-radius: 50px;
  transition: 0.2s ease;
}

.hero-section .popular-tags .tags li a img{
  height: 14px;
  width: 50px;
}

.hero-section .tags li a:hover {
  color: #000;
  background: #fff;
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}
