<%- include("includes/header.ejs"); %>
<body>
  <h1>Learning Express</h1>
  <h2>Dice value is : <%= diceVal %></h2> 
  <% if(diceVal==5){ %>
   <h2>Nice! Rolldice Again.</h2>
  <% } %>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum enim dignissimos perspiciatis, laudantium nostrum pariatur natus, sapiente omnis molestiae quidem magnam, cumque fugiat quam atque quae eos dolorum! Dignissimos, magnam.</p>
</body>
<button>Click</button>
</html>

