@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #CFCAC4;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  width: 740px;
  height: 680px;
  background-color: #CFCAC4;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 720px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
}

.Logo {
  height: 29px;
  font-size: 100%;
  object-fit: contain;
  display: block;
  position: absolute;
  top: 4.5%;
  right: 65.7%;
  cursor: pointer;
}

.fa-regular.fa-heart {
  font-size: 22px;
  display: block;
  position: absolute;
  top: 4.5%;
  right: 54.6%;
  cursor: pointer;
}

.fa-brands.fa-facebook-messenger {
  font-size: 22px;
  position: absolute;
  top: 4.5%;
  right: 51.8%;
  cursor: pointer;
}

.section1 {
  display: flex;
  overflow-y: auto;
  position:absolute;
  top: 4%;
  right: 51.7%;
}

.story {
  display: flex;
  margin-top: 34px;
}

.story .stories {
  width: 50%;
  margin: 11px;
  overflow: auto;
}

.story .stories img {
  border-radius: 50%;
  border: 2px solid #e452aa;
  padding: 1.4px;
  object-fit: cover;
 }

.story .stories p {
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #262626;
  text-align: center;
  justify-content: center;
}

.line1 {
  margin-top: -420px;
  border: 0.1px solid #dddddd57;
  width: 100%;
}

.pro {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 23.6%;
  right: 70.5%;
  border: 1px solid #ddd;
  object-fit: cover;
  background-color: #000000;
}

.postname {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 24.5%;
  right: 63.7%;
}

.fa-solid.fa-certificate.one {
  color: #0080ff; 
  font-size: 16px;
  position: absolute;
  top: 24.7%;
  right: 62.2%;
}

.fa-solid.fa-check.one {
  color: #ffffff;
  font-size: 8px;
  font-weight: bold;
  position: absolute;
  top: 25.1%;
  right: 62.5%;
}

.fa-solid.fa-ellipsis-vertical.one {
  font-size: 18px;
  position: absolute;
  top: 24.7%;
  right: 51.7%;
}


.post {
  height: 350px;
  width: 348.8px;
  object-fit: cover;
  position: absolute;
  top: 29%;
  right: 50.7%;
}

.fa-regular.fa-heart.one {
  font-size: 24px;
  display: block;
  position: absolute;
  top: 77.5%;
  right: 71%;
  cursor: pointer;
}

.fa-regular.fa-comment.fa-flip-horizontal {
  font-size: 24px;
  position: absolute;
  top: 77.6%;
  right: 68.5%;
}

.send {
  height: 20px;
  position: absolute;
  top: 78%;
  right: 65.8%;
}

.save {
  height: 21px;
  position: absolute;
  top: 77.8%;
  right: 51.3%;
}

.likes {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 81.7%;
  right: 68%;
}

.postname2 {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 84.6%;
  right: 50.9%;
  max-width: 330px;
}

.postname2 span {
  font-weight: 300;
  margin-left: 7px;
}

.line3 {
  border-top: 0.1px solid #dddddd;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 22.8%;
  height: 40px;
  position: absolute;
  bottom: 3%;
  right: 50.6%;
  display: flex;
}

.line3 li {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
  display: inline;
  margin: 21.5px;
  margin-bottom: auto;
  cursor: pointer;
}

.pop1 {
  position: absolute;
  right: 80%;
  bottom: -10%;
  margin: 50px;
}

.pop2 {
  position: absolute;
  right: 60%;
  bottom: -10%;
  margin: 50px;
  opacity: 80%;
}

.pop3 {
  position: absolute;
  right: 40%;
  bottom: -10%;
  margin: 50px;
  opacity: 80%;
}

.reel {
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 5%;
  right: 18%;
  opacity: 80%;
}

.proff {
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 720px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.fa-sharp.fa-solid.fa-arrow-left {
  font-size: 22px;
  position: absolute;
  top: 5%;
  right: 47%;
  cursor: pointer;
}

.name {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 4.8%;
  right: 40%;
}

.fa-solid.fa-certificate {
  color: #0080ff; 
  font-size: 16px;
  position: absolute;
  top: 5.3%;
  right: 38.3%;
}

.fa-solid.fa-check {
  color: #ffffff;
  font-size: 8px;
  font-weight: bold;
  position: absolute;
  top: 5.7%;
  right: 38.6%;
}

.fa-regular.fa-bell {
  font-size: 20px;
  position: absolute;
  top: 5%;
  right: 30.8%;
}

.fa-solid.fa-ellipsis-vertical {
  font-size: 18px;
  position: absolute;
  top: 5.4%;
  right: 28%;
}

.profile img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #e452aa;
  padding: 1.4px;
  object-fit: cover;
  position: absolute;
  top: 10%;
  right: 43.5%;
}

.pname {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 21.2%;
  right: 40.8%;
}
.emoji {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 21.2%;
  right: 39.3%;
}

.num {
  display: flex;
  position: absolute;
  top: 12.2%;
  right: 27.4%;
}

.num li {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  display: inline;
  margin: 16px;
  padding: 7px;
}

.follow {
  display: flex;
  position: absolute;
  top: 15%;
  right: 26.6%;
}

.follow li {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  list-style-type: none;
  display: inline;
  margin: 8px;
  padding: 7px;
}

.brand {
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 23.8%;
  right: 45.8%;
}

.bio {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 26.6%;
  right: 39.7%;
}

.fa-solid.fa-link {
  color: #004c99;
  font-size: 13px;
  position: absolute;
  top: 30%;
  right: 47.2%;
}

.link {
  color: #004c99;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 29.5%;
  right: 30%;
  cursor: pointer;
}

.but {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -123px;
}

.foll, .mess, .con {
  height: 30px;
  width: 95px;
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin: 3px;
  font-family: 'Poppins', sans-serif;
}

.foll {
  background-color: #198cff;
  color: #ffffff;
}

.foll:hover {
  background-color: #0076ed;
}

.mess:hover, .con:hover {
  background-color: rgb(222, 222, 222);
 
}

.sim {
  height: 30px;
  width: 30px;
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  margin: 3px;
}

.sim:hover {
  background-color: #ddd;
}

.section4 {
  display: flex;
  overflow-y: auto;
  position: absolute;
  top: 35%;
  right: 26.4%;
}

.highlight {
  display: flex;
  margin-top: 39px;
}

.highlight .hilits {
  width: 50%;
  margin: 11px;
  overflow: auto;
}

.highlight .hilits img {
  border-radius: 50%;
  border: 2px solid #cecece;
  padding: 1.4px;
  object-fit: cover;
 }

.highlight .hilits p {
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #262626;
  text-align: center;
  justify-content: center;
}

.fa-solid.fa-table-cells {
  font-size: 24px;
  opacity: 80%;
  position: absolute;
  top: 56%;
  right: 45.5%;
}

.reel1 {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 56%;
  right: 40%;
}

.fa-regular.fa-newspaper {
  font-size: 24px;
  opacity: 60%;
  position: absolute;
  top: 56%;
  right: 34.5%;
}

.tag {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 56%;
  right: 29%;
}

.line6 {
  transform: rotate(90deg);
  height: 348px;
  border-right: 1.6px solid #cfcfcf5a;
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: 0px;
  position: absolute;
  top: 38.6%;
  right: 37.9%;
}

.line5 {
  transform: rotate(90deg);
  height: 100px;
  border-right: 1.6px solid #4b4b4b9e;
  border-bottom: none;
  border-top: none;
  border-left: none;
  position: absolute;
  top: 54.98%;
  right: 45.9%;
}

.fa-solid.fa-house.one {
  font-size: 24px;
  position: absolute;
  right: 46%;
  bottom: 3.5%;
}

.fa-solid.fa-magnifying-glass.one {
  font-size: 24px;
  position: absolute;
  right: 41.5%;
  bottom: 3.5%;
}

.fa-regular.fa-square-plus.one {
  font-size: 24px;
  position: absolute;
  right: 37%;
  bottom: 3.5%;
}

.reels {
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 3.5%;
  right: 32.5%;
  opacity: 80%;
}

.proffs {
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 3.5%;
  right: 28%;
}

.line7 {
  transform: rotate(90deg);
  height: 348px;
  border-right: 1px solid #cfcfcf81;
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: 0px;
  position: absolute;
  top: 68.5%;
  right: 37.9%;
}

.posts {
  height: 222.8px;
  width: 374px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  top: 61.8%;
  right: 25%;
  overflow: hidden;
}

.posts img {
  width: calc(33.33% - 10px);
  height: 120px;
  object-fit: cover;
  margin: 1px; 
}