
* {
     padding: 0;
     margin: 0;
}
body{
 display: flex;
 justify-content: center;
align-items: center;
min-height: 100vh;
background-color: coral;

 }
 .main{
     background-color: white;
     padding: 2rem;
     border-radius:  1rem;
     min-height: 70vh;
     width: 60vh;
 }
 form{
     margin: 2rem 0 1rem 0;
 }
 form select, button, input{
     width: 100%;
     border: none;
     outline: none;
     border-radius: 0.75rem;
 }
 
 form input{
     border: 1px solid lightgray;
     font-size: 1rem;
     height: 3rem;
     padding-left: 0.5rem;
 }
 .dropdown{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
 }

 .dropdown i{
     font-size: 1.5rem;
     margin-top: o.9rem;
 }
 .select_container img{
     max-width: 1.75rem;
 }

 .select_container{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 6rem;
     border-radius: 0.5rem;
     border: 1px solid lightgray;
     margin:2rem 0 3rem 0;
 }

 .select_container select{
     font-size: 1rem;
     width: auto;
 }

 .msg{
     margin-bottom: 1.5rem;
 }
 
 .Form button{
     height: 3rem;
     background-color: rgb(241, 78, 192);
     color: white;
     font-size: 1.5rem;
     cursor: pointer;
 }

